*{
    /*espaçamento*/
    margin: 0px;
    padding: 0px;
}
body{
    /*tamanho*/
    width: 100%;
    height: 100vh;
    /*organização de elementos filhos*/ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

.menu {
    /*Tamanho*/
    width: 100%;
    height: 10%;

    /*Posição*/
    position: absolute;
    z-index: 100;

    /*Organização de elementos filhos*/
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*Borda*/
    border: 0px;
    border-bottom: 2px solid black;

    /*Cor*/
    background-color: #fff;
    
}

.sessao-logo-menu {
    /*Tamanho*/
    width: 15%;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Fonte*/
    font-size: 25px;
}

.Titulo_TerraFirma{
    /*Texto*/
    font-size: 5vh;
    font-weight: bold;
}

.logo-menu {
    /*Tamanho*/
    width: 70px;
    height: 70px;
}

.Area_Botao_Usuario{

    display: flex;
    justify-content: center;    
    height: 100%;
    width: 5%;
}

.Botao_Usuario{
    border: none;
    background: none;
    border-radius: 100%;
    height: 100%;
    width: 90%;
    cursor: pointer;

}

.Icone_Usuario{
    height: 60%;
    width: 100%;
}

.Sessao_Inicial{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Titulo_Pagina_Voluntario{
    margin-top: 8%;
    color: black;
    height: 12%;
    width: 100%;
    font-size: 45px;
    text-align: center;
}

.Sessao_Categorias_de_vagas{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.Categorias{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around   ;
    width: 100%;
    height: 100%;
}

.Botao_Categoria{
    border: none;
    background: none;
}

.Titulo_Categorias{
    font-size: 40px;
    font-weight: bold;
}

.Tipos_Categoria{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

.Img_Categoria{
    width: 85%;
    height: 100%;
    
}

.Img_Categoria:hover{
    width: 155px;
    transition: 0.5s;
}

.Botao_Suas_Inscricoes{
    background: none;
    
    width: 280px;
    height: 70px;
    border-radius: 10px;
    background-color: #007BFF;
    color: #fff;
    font-size: 25px;
}

.Botao_Suas_Inscricoes:hover{
    color: rgb(0, 255, 0);
    cursor: pointer;
}

.Sessao_Vagas{
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.Vagas{
    display: flex;
    flex-wrap: wrap; /* Define uma grade com 4 colunas de largura igual */
    justify-content: center;
    justify-content: space-around;
    gap: 10px; /* Define um espaço entre os cards */
    height: auto;
    width: 100%;
}

.Titulo_Vagas{
    font-size: 40px;
    font-weight: bold;
}

.Card {
    /* Tamanho */
    width: 255px;
    height: 400px;
    margin: 30px;

    /* Borda */
    border: 2px solid #d3d3d3;
    border-radius: 20px;

    /*Detalhes*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Sombra inicial mais escura */
    transition: box-shadow 0.5s ease-in-out; /* Transição suave para o hover */

}

.Card:hover {
    /*Detalhes*/
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9); /* Sombra ainda mais escura ao passar o mouse */
    cursor: pointer;
}

.Conteudo_Card{
    /* Organização dos elementos filhos */
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
}

.Detalhes_Card{
    /* Organização dos elementos filhos */
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Detalhes*/
    padding-left: 5px;
    padding-right: 5px;
}

.titulo_card{
    /*Texto*/
    text-align: center;
    font-size: 15px;
}

.Imagem_card{
    /*Tamanho*/  
    width: 100%;
    height: 42%;
    border-radius: 20px 20px 0 0;
}

.Localizacao-card{
    /* Tamanho */
    width: 100%;

    /* Organização dos elementos filhos */
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.Cidade_Zona_Card_Acao{
    /*Texto*/
    font-size: 12px;
    color: #0087E9;
    font-weight: bold;
}

.Data_Acao{
    /*Texto*/
    font-size: 12px;
    width: 40%;
    color: #FD7E14;
    font-weight: bold;
}

.Descricao_Acao{
    /*Texto*/
    font-size: 15px;
    /* Tamanho */   
    width: 95%;
    height: 110px;

    /*Detalhes*/   
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;
}

.Nome_ONG{
    /*Detalhes*/  
    padding-left: 5px; 

    /*Texto*/
    font-size: 15px;
    opacity: 0.7; /* 50% de opacidade */
}

.Footer{
    /*Tamanho*/  
    height: 10%;

    /*Cor*/  
    background-color: #007BFF;
}

.Conteudo_Footer{
    display: flex;
    align-items: center;
}

.Botoes_Footer{
    /*Tamanho*/  
    width: 100%;

    /* Organização dos elementos filhos */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px;
}

.Botao_Footer{
    /*Cor*/ 
    background: none;

    /*Borda*/ 
    border: none;

    /*Texto*/ 
    font-size: 18px;
}

.Botao_Footer:hover{
    /*Cor*/ 
    color: #FD7E14;

    /*Detalhes*/  
    transition: 0.5s;
}

.Modal_Acao {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: none; /* Use Flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Conteudo_Modal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
}

.Cabecalo_Modal{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Div_Auxilar_Modal{
    width: 30%;
}

.Nome_Acao_Modal{
    width: 49%;
    font-size: 30px;
}

.Botao_Fechar{
    border: none;
    background: none;
    font-size: 40px;
    width: 4%;
}

.Botao_Fechar:hover{
    color: red;
    transition: 0.4s;
}

.Icone_Fechar_Modal{
    margin-right: 95%;
}

.Detalhes_Acao{
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.Descricao_Acao_Modal{
    height: 85%;
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #EFEFEF;
    word-wrap: break-word;
}

.Titulo_Descricao_Modal{
    font-size: 20px;
    font-weight: bold;
}

.Texto_Descricao_Modal{
    width: 90%;
    font-size: 15px;
}

.Informacoes_Acoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    width: 20%;
}

.Titulo_Info{
    font-size: 15px;
    font-weight: bold;
}

.Info_Acao{
    width: 120%;
    font-size: 16px;
    font-weight: 400;
}

.Local_Acao_Modal{
    color: #007BFF;
    font-weight: 900;
}

.Data_Acao_Modal{
    color: #FD7E14;
    font-weight: 900;
}

.Caixa_Imagem{
    width: 25% ;
    height: 85%;
    border-radius: 10px;
}

.Imagem_Acao_Modal{
    width: 100% ;
    height: 100%;
    border-radius: 10px;
}

.Botao_Inscreva-se{
    border: 1px solid black;    
    background-color: #007BFF;
    color: white;
    width: 20%;
    height: 10%;
    border-radius: 10px;
    font-size: 18px;
}

.Botao_Inscreva-se:hover{
    color: rgb(0, 255, 0);
    transition: 0.5s;
    cursor: pointer;
}

.Campo_Aviso{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: none; /* Use Flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.Conteudo_Aviso{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

.Aviso{
    color: #00ff2a;
    font-weight: bold;
}

.Menu_Lateral_Usuario{
    position: absolute;
    display: none;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5.5%;
    margin-left: 78%;
    width: 20%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

.Sessao_Usuario{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.Header_Menu_Lateral{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Botao_Menu_Lateral{
    width: 10%;
    height: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.Div_Auxiliar{
    height: 100%;
    width: 35%;
}

.Imagem_Foto_de_Perfil{
    width: 30%;
    height: 80%;
}

.Nome_voluntario_Titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;

}

.Botao_Menu_Lateral{
    width: 10%;
    height: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.Botao_Menu_Lateral:hover{
    width: 10.5%;
    height: 50%;
}

.Icone_Fechar{
    margin-left: 200%;
    width: 90%;
    height: 90%;
    padding-left: 5px;
}

.Informações_Voluntarios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
}

.Nome_Voluntarios{
    font-size: 15px;
    font-weight: bold;
    height: 10%;
    width: 100%;
    text-align: center;
}

.Email_Voluntarios{
    font-size: 15px;
    font-weight: bold;
    height: 10%;
    width: 100%;
    text-align: center;
}

.Sessao_TerraFirma{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.Logo_TerraFirma{
    height: 70%;
    width: 20%;
}

.Texto_TerraFirma{
    font-weight: bold;
    font-size: 15px;
}

.Botao_Sair{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    border: none;
    background: none;
    gap: 3%;
}

.Icone_Sair{
    height: 60%;
    width: 10%;
}

.Texto_Sair{
    font-size: 20px;
    font-weight: bold;
}

.Texto_Sair:hover{
    font-size: 22px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}